
:root{
    --lightblue:#48a4dd;
    --lightred:rgb(210, 62, 62);
    --lightred1:rgba(193, 54, 54, 0.252);
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;  padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;  border: none;
    transition: all .2s linear;
   
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem  3%;
}

header{

    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}


header .title{
    font-size: 2.3rem;
     color: var(--lightblue);
    text-transform: uppercase;
}
header .title:hover{
    color: white;
}
header span{
    font-size: 3rem;
     color: rgb(247, 247, 247);
    text-transform: uppercase;
}

header span:hover{
    color: var(--lightblue);
}

header .navbar a{

    color: var(--lightblue);
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: white;
}

#menu-bar{
    color: white;
    border: .1rem solid white;
    font-size: 3rem;
    padding: .5rem  1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

.form-btn{
    background: var(--lightred);
    display: inline-block;
    color: white;
    font-size: 22px;
    border-radius:25px;
    padding: .1rem 1rem;
    border: 2rem solid var(--lightred);
    cursor: pointer;
}



.home {
    margin: 100px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .first{
    text-align: center;
}

.home .first h3{
    font-size: 4.5rem;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 0  .3rem .5rem rgba(1, 27, 104, 0.7);
}

.home .first p{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0  .3rem .5rem rgba(1, 37, 93, 0.7);
}

.home .first .form-btn{
    margin: 25px 0px 0px 0px;
}

.home .video-list video{

    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 100%;

}

.images{
    margin: 550px 0px 0px 0px;
}
.images .shake{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 3  12px;
    height: 300px;
    width: 200px;
}

.images .shake1{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: -300px 0px 0px 370px;
    height: 300px;
    width: 300px;
}

.images .shake2{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: -300px 0px 0px 720px;
    height: 300px;
    width: 300px;
}
.images .shake3{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: -300px 0px 0px 1080px;
    height: 300px;
    width: 300px;
}

.home .controls{
    padding: 1rem;
    position: relative;
    top: 10rem;
    border-radius: 5rem;
    background: rgba(0, 0,0,0.7);
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0  3rem;
}
.home .controls .vid-btn.active{

    background: var(--lightblue);

}

footer{
    margin: 170px 0px 0px 0px;
    background: #161631;
    width:100%;
    height: 350px;
}


.foot{
    margin:0px 0px 0px 90px;
    padding-top: 26px;
    justify-content: space-between;
}
.fot {
    text-align: center;
    color: white;
    font-size: 15px;
}


.copy{
    font-size: 18px;
    margin: 0px 0px 0px 500px;
}


body{
    height: 180rem;
}


@media (max-width:1200px) {

    html{

        font-size: 55%;
    }
    
}



@media (max-width:991px) {

    header {
        padding: 2rem;
    }
    
}

@media (max-width:768px) {

   #menu-bar{
    display: initial;
   }
   
   header .navbar{
    position:absolute;
    top: 85px; right: 0; left: 0;
    background:#333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    padding: 1rem  2rem;
    /*clip-path: polygon(0 0 ,100% 0 , 100% 0 ,0 0 );*/

}

 header .navbar .active{
   clip-path: polygon(0 0 ,100% 0 , 100% 100%,0 100% );

 }
header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;

}
    
}
@media (max-width:450px) {

    html{

        font-size: 50%;
    }
    
}
